.PatientDetails{
    font-family: Arial, Helvetica, sans-serif;
    left: auto;
}
.Drugs{
    width: 48%;
    float: left
}
.LastVisits{
    width: 48%;
    float: right;
}

table {
    margin-top: 30px;
    width: 70vw;
    max-width: 657px;
    border: solid 1px #000;
    border-radius: 6px;
}

tr {
    transition-duration: 0.2s;
    cursor: pointer;
}
tr:nth-child(even) {background: #f1f1f1}
tr:nth-child(odd) {background: #fff}
tr:hover {
    /* transform: scale(1.01); */
    background-color: #d8d8d8;
}
td {
    padding: 10px 20px;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}