.examHistoryContainer {
    margin:5px;

}
.historyContainer {
    margin-top:5px;
    border:solid 1px black;
    border-radius:10px;
    overflow: hidden;
}

.examHistoryLabel {
    display: block;
    font-size:22px;
    background-color: #a8a8a8;
    border-radius: 8px;
    padding:5px;
    text-align: center;
    margin: auto;
    width:80%;
}
.examHistoryHeader > div {
    text-align: center;
    font-size: 22px;
}

th {
    background-color: grey;
    box-sizing: border-box;
}
