.topbarWrapper {
    width: 100vw;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}

.idInput {
    font-size: 1em;
    padding: 10px;
    width: 70%;
    max-width: 600px;
}

.searchButton {
    font-size: 1em;
    height: 42px;
}