.topbarWrapper {
    width: 100vw;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    /* background-color: #388e3c; */
    background-color: #7ab87d;
    border-bottom: solid 1px #3d9e44;
    box-shadow: 2px 4px 7px 0 #ccc;
}

.idInput {
    font-size: 1em;
    padding: 10px 20px;
    width: 70vw;
    max-width: 600px;
    height: 42px;
    box-sizing: border-box;
    background-color: #fff;
    border: solid 1px #1f1f1f;
    border-radius:  5px 0 0 5px;
}

.searchButton {
    font-size: 1em;
    height: 42px;
    box-sizing: border-box;
    border: solid 1px #1f1f1f;
    padding: 0 20px;
    line-height: 42px;
    border-radius: 0 5px 5px 0;
    border-left: none;
    cursor: pointer;
    color: #808080;
    background-color: #f1f1f1;
}