h1 {
    width: 100%;
    align-self: center;
    color: #ccc;
    text-align: center;
}
.routeContainer > div {
    margin: 5px auto;
}

h2 {
    color: rgb(111, 111, 111);
    text-align: center;
    margin-top: 0;
}
