.dayPanel{
    background: #FFD23D;    
    padding: 20px;
}

.MojeLeki {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MojeLeki table{
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 4px;
}

.MojeLeki td{
    border-radius: 0px 0px 10px 10px;
    width: 33%;
}

.MojeLeki th{ 
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    color: aliceblue;
}
.MojeLeki th:nth-child(2){
    background: #FFD23D
}
.MojeLeki td:nth-child(2){
    background-color: #FFE48A;
}
.MojeLeki th:nth-child(3){
    background: #3F82FF
}
.MojeLeki td:nth-child(3){
    background: #8CB4FF
}
.MojeLeki th:nth-child(1){
    background-color:#FF8C00;
}
.MojeLeki td:nth-child(1){
    background-color:#FFA500;
}


.MojeLeki ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.MojeLeki li {
    padding: 15px;
    border-bottom: solid 1px #6363634a;
}
.MojeLeki li:last-child {
    border: none;
}

.foo1 {
    display: flex;
    width: 50%;;
    border: solid 1px #a5851b;
    margin: 15px;
    border-radius: 6px;
    background-color: #ffe48a;
    transform: scale(1.4) translateY(30px);
}

.foo2 {
    padding: 5px;
    width: 15%;
    flex-grow: 1;
    box-sizing: border-box;
    text-align: center;
    border-left: solid 1px #a5851b;
}
.foo2 i {
    margin: 5px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.585, 0.035, 0.000, 8.650);
}
.foo2:first-child {
    border: none;
}
.foo2 p {
    margin: 2px;
}

.hide {
    transform: scale(0);
    opacity: 0;
}