.examinationContainer {
    display:flex;
    background-color: #f1f1f1;
    /*border: white solid 2px;*/
}
.examinationContainer > td {
    display:inline-block;
    box-sizing: border-box;
    text-align: center;
    margin:auto;

}
.examinationContainer > td:first-child {
    overflow-y: auto;
}
.examDescription {
    display: inline-block;
    width: 78%;
    max-height:80px;
}
.examDate {
    display: inline-block;
    width: 16%;
    margin:auto;
}
.examPdfIcon {
    display: inline-block;
    width: 6%;
}

.examinationContainer td:last-child {
    cursor: pointer;
}
